.rightbar {
  flex: 3.5;
  background: lightyellow;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.eventContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.starImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.eventImg {
  max-width: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.eventText {
  font-size: 18px;
  font-weight: bold;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rightbarFriendList {
  margin-bottom: 50px;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarUsername {
  font-weight: bold;
}

.rightbarOnline {
  background: purple;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -2px;
  left: 0;
  border: 2px solid #fff;
}

.promotionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.rightbarPromotionImg {
  width: 85%;
  padding-bottom: 5px;
  border-radius: 10px;
}

.promotionName {
  padding-bottom: 20px;
  font-size: 16px;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.rightbarInfo {
  margin-bottom: 30px;
}
.rightbarInfoItem {
  margin-bottom: 10px;
}
.rightbarInfoKey {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}
.rightbarFollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px 0 0;
}
.rightbarFollowing:last-of-type {
  margin: 0;
}
.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  cursor: pointer;
}
.rightbarFollowingImg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
.rightbarFollowingName {
  font-size: 12px;
}
